html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #000;
    color: #ff0000;
    font-size: 13px;
    cursor: url('../i/curs0r/0rc.cur'),auto;
    transition: cursor 3s linear;
}

a:hover,
button:hover {
    cursor: url('../i/curs0r/0rc_1ink.cur'),auto;
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    height: 33px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6px;
    margin-bottom: 6px;
    background-color: #000;
}

nav {
    margin-right: 13px;
}

a {
    color: #ff0000;
}

a:hover {
    color: #c300ff;
    transition: color 0.11s;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#c0nta1n3r {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#whoami {
    z-index: 1;
    width: 333px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6px 6px;
    margin-left: 6px;
    margin-right:6px;
    background-color:#000;
    opacity: 91%;   
    animation: m0unt 6s ease 0s 1;
}

@keyframes m0unt {
    0%      {opacity:0;}
    100%    {opacity:91%;}
}

@keyframes m0unt_0 {
    0%      {opacity:0;}
    100%    {opacity:100%;}
}

@keyframes m0unt_00 {
    0%      {opacity:0;}
    100%    {opacity: 66%;}
}

#s1g1l {
    width:333px;
    height:auto;
    margin-right:6px;
    filter:contrast(113%);
}

#l0cat10n {
    width: 13px;
    height: 13px;
}

.chi1d {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 6px;
}

#c0nt4ct {
    z-index:1;
    width: 333px;
    height: 136px;
    margin-bottom: 6px;
    background-color: #000;
    background-image:url('../i/c0nt4ct.png');
    background-position-x:0%;
    background-size:100%;
    border:solid 6px #000;
    animation: m0unt_0 7s ease 0s 1, scr011 11s linear 0s infinite;
}

@keyframes scr011 {
    0%      {background-position-y:50%;}
    25%     {background-position-y:100%;}
    50%     {background-position-y:50%;}
    75%     {background-position-y:0%;}
    100%    {background-position-y:50%;}   
}

#ic0n_c0nta1n3r {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 66px;
}

.ic0n {
    width: 22px;
    transition: filter 0.66s;
}

.h1 {
    height: 22px;
}

.d1sc0rd {
    height: 19px;
}

.ic0n:hover {
    filter: brightness(200%) saturate(200%) invert(100%);
}

#arm0ry {
    z-index:1;
    width:333px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-color:#000;
    background-image:url('../i/arm0ry.png');
    background-position-x:0%;
    background-position-y:50%;
    background-size:166%;
    background-repeat:no-repeat;
    border:solid 6px #000;
    opacity:91%;
    animation: m0unt 8s ease 0s 1;
}

#car0us31 {
    display:flex;
    align-items: center;
}

#car0us31_sc3n3 {
    width: 111px;
    height: 466px;
    padding-top: 166px;
    perspective: 222px;
}

#we4p0n_st4sh {
    width: 111px;
    height: 166px;
    transform: translateZ(-222px);
    transform-style: preserve-3d;
    transition: transform 1.666s;
}

.we4p0n_sl0t {
    position: absolute;
    left: 13px;
    top: 50%;
    width: 66px;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
    border-radius: 50%;
    opacity:91%;
}

.we4p0n {
    width:55px;
    height:55px;
    animation: h0ver 5s linear 2s infinite alternate;
}

.we4p0n_alt {
    width: 44px;
    height: 44px;
    animation: h0ver 5s linear 2s infinite alternate-reverse;
}

@keyframes h0ver {
    0%      {transform: translateY(0px);}
    25%     {transform: translateY(6px);}
    50%     {transform: translateY(0px);}
    75%     {transform: translateY(-6px);}
    100%    {transform: translateY(0px);}
}

#car0us31_c0ntr01s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
}

#pr3v_btn, #n3xt_btn {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5px auto;
    background-color: #333;
    border: 0px 6px 6px 0px solid #000;
    border-radius: 50%;
    transition: filter 1.1s ease, box-shadow 1.1s ease;
}

#pr3v_btn:hover, #n3xt_btn:hover {
    filter: brightness(166%);
    box-shadow: 0 0 6px 6px #03ff9f;
}

#pr3v_btn:active, #n3xt_btn:active {
    filter: brightness(666%);
    box-shadow: 0 0 6px 6px #7affcc;
}

#pr3v_btn img {
    width: 44px;
    height: 44px;
    rotate: 90deg;
    filter: hue-rotate(126deg);
    animation: gl0w 5s linear 2s infinite alternate;
}

#n3xt_btn img {
    width: 44px;
    height: 44px;
    rotate: 270deg;
    filter: hue-rotate(126deg);
    animation: gl0w 5s linear 2s infinite alternate;
}

@keyframes gl0w {
    0%      {filter: brightness(91%) hue-rotate(126deg) saturate(100%);}
    50%     {filter: brightness(131%) hue-rotate(66deg) saturate(166%);}
    100%    {filter: brightness(91%) hue-rotate(126deg) saturate(100%);}
}

#n4v_h34d3r, #n4v_f00t3r {
    z-index: 1;
    position: relative;
    top: 6px;
    width: 333px;
    height: 125px;
    margin-bottom: 6px;
    background-color: #000;
    border:solid 6px #000;
    opacity: 66%;
    animation: m0unt_00 9s ease 0s 1;
}

#n4v_f00t3r {
    height: 99px;
}


.ma1n {
    z-index: 1;
    position: relative;
    top: 6px;
    width: 333px;
    height: 166px;
    margin-bottom: 6px;
    border:solid 6px #000;
    font-weight: bold;
    text-decoration: none;
    transition: filter 1.1s ease;
}

.ma1n:hover {
    filter: brightness(166%);
}

#rep0s {
    background-image:url('../i/rep0s.png');
    background-position-x:0%;
    background-size:133%;
    animation: m0unt_0 9s ease 0s 1, scr011_0 9.666s linear 0s infinite;
}

@keyframes scr011_0 {
    0%      {background-position-y:0%;}
    50%     {background-position-y:66%;}
    100%    {background-position-y:0%;}   
}


#nfts {
    background-image:url('../i/nfts.png');
    background-position-x:0%;
    background-size:144%;
    animation: m0unt_0 9s ease 0s 1, scr011_00 9.666s linear 0s infinite;
}

@keyframes scr011_00 {
    0%      {background-position-y:11%;}
    50%     {background-position-y:77%;}
    100%    {background-position-y:11%;}   
}

#history {
    background-image:url('../i/history.png');
    background-position-x:0%;
    background-size:100%;
    animation: m0unt_0 9s ease 0s 1, scr011_00 9.666s linear 0s infinite;
}

@keyframes scr011_000 {
    0%      {background-position-y:44%;}
    50%     {background-position-y:100%;}
    100%    {background-position-y:44%;}   
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 6px;
    background-color:#000;
}

#p0w3r {
    margin-right: 13px;
}
