#whoami {
    width: 333px;
    padding: 6px 6px;
    margin-right: 6px;
    background-color:#000;
    opacity: 91%;   
    animation: m0unt 6s ease 0s 1;
}

.s1g1l {
    width:100%;
    margin-bottom: 2px;
    filter:contrast(113%);
}

#us3rnam3 {
    animation: hu3_r0tat3 1.666s linear 0s infinite;
}

@keyframes hu3_r0tat3 {
    0%      {filter: hue-rotate(0deg);}
    100%    {filter: hue-rotate(360deg);}   
}

#l0cat10n {
    height: 13px;
    margin-right: 6px;
}

#chi1d {
    z-index: 1;
    width: 333px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#c0ntact {
    width: 333px;
    height: 136px;
    margin-bottom: 6px;
    background-color: #000;
    background-image:url('./i_h0m3/c0ntact.png');
    background-position-x:0%;
    background-size:100%;
    border:solid 6px #000;
    animation: m0unt_0 7s ease 0s 1, scr011 11s linear 0s infinite;
}

@keyframes scr011 {
    0%      {background-position-y:50%;}
    25%     {background-position-y:100%;}
    50%     {background-position-y:50%;}
    75%     {background-position-y:0%;}
    100%    {background-position-y:50%;}   
}

#ic0n_c0nta1n3r {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 66px;
}

.ic0n {
    width: 22px;
    transition: filter 0.66s;
}

.ic0n:hover {
    filter: brightness(200%) saturate(200%) invert(100%);
}
