html,
body {
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #ff0000;
  font-family: monospace;
  font-size: 13px;
  cursor: url('./i/curs0r/0rc.cur'),auto;
}

a:hover,
button:hover {
    cursor: url('./i/curs0r/0rc_1ink.cur'),auto;
}

#c0nta1n3r {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes m0unt {
  0%    {opacity: 0;}
  100%  {opacity: 91%;}
}

@keyframes m0unt_0 {
  0%      {opacity:0;}
  100%    {opacity:100%;}
}
